#home {
	display: none;
}

#portfolio {
	display: none;
}

#articles {
	display: none;
}

nav {

}

body > div {
  width: 350px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 0;
  padding-left: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding:0;
}

li {
	float: left;
  
}

a:link, a:visited {
  color: #E6E6E6;
  font-weight: bold;
	text-align: center;
	display: block;
	width: 80px;
	text-decoration: none;
	background-color: #EB7D33;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

a:hover {
  background-color: #E65C00;
}

#active-section {
  background-color:#6666FF;
}

#active-section:hover {
  background-color:#5252CC;
}

section {
  margin-top: 25px;
  clear:both;
}
